/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left, #f9f9f9, #ef7e56);
    margin: 0;
}

/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* Encabezado */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #111f4d;
    font-size: 28px;
    display: flex;
    align-items: center;
}

/* Tarjeta */
.card {
    max-width: 800px;
    width: 90%;
    background: #f9f9f9;
    box-shadow: 0 5px 10px #ded5c4;
    border-radius: 15px;
    transition: 0.4s;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Para ocultar el desbordamiento de la imagen */
}

.card:hover {
    box-shadow: 0 5px 10px black;
    cursor: pointer;
}

/* Imagen de la tarjeta */
.card .content img {
    display: flex;
    max-width:250px;
    max-height: 250px; /* Limita la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    justify-content: flex-start;
}

/* Contenido de la tarjeta */
.content {
    padding: 20px;
    text-align: center;
}

.content h3 {
    color: #111f4d;
    font-size: 24px;
}

.content p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Enlaces de redes sociales */
.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.links a {
    font-size: 2rem;
    color: #646059;
    text-decoration: none;
}

.card .links a:nth-child(1):hover{
    color: #0e76a8;
}
.card .links a:nth-child(2):hover{
    color:#171515;
}
.card .links a:nth-child(3):hover{
    color:#00acee;
}
.card .links a:nth-child(4):hover{
    color:#3b5998;
}

/* Media query para hacer responsivo el diseño */
@media (max-width: 768px) {
    .card {
        max-width: 90%;
    }

    .card img {
        max-height: 100%; /* Ajusta la altura de la imagen automáticamente */
    }
}

