*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Montserrat';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left,#f9f9f9, #ef7e56);
}
.card{
    width: 500px;
    height: 250px;
    display: flex;
    overflow: hidden;
    background: #f9f9f9;
    box-shadow: 0 5px 10px #ded5c4;
    border-radius: 15px;
    transition: 0.4s;
}
.card:hover{
    box-shadow: 0 5px 10px black;
    cursor: pointer;
}
.card .img-card{
    background: url(assets/img/portada.png);
    width: 16rem;
    height: auto;
    background-size: cover;
    align-items: center;
}
.card .content{
    width: 60%;
    height: 100%;
    grid-template-rows: 50px 150px 50px;
    padding: 10px 15px;
}
.card .content .title h1{
    color: #111f4d;
    font-size: 18px;
    justify-content: center;
    position:relative;
    padding: 8px;
    text-align: center;
}
.card .content .title h3{
    color: #ef7e56;
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.card .content .text p{
    color: rgb(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;

}
.card .content .links{
    padding: 8px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;    
}
.card .links a{
    /*display: flex;*/
    font-size: 1.5rem;
    color: #646059;
}
.card .links a:nth-child(1):hover{
    color: #0e76a8;
}
.card .links a:nth-child(2):hover{
    color:#171515;
}
.card .links a:nth-child(3):hover{
    color:#00acee;
}
.card .links a:nth-child(4):hover{
    color:#3b5998;
}

