*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Montserrat', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left,#f9f9f9, #ef7e56);
}
.card{
    width: 500px;
    height: 250px;
    display: flex;
    overflow: hidden;
    background: #f9f9f9;
    box-shadow: 0 5px 10px #ded5c4;
    border-radius: 15px;
}
.card .img-card{
    background: url(assets/img/portada.png);
    width: 40%;
    height: 100%;
    background-size: cover;
}
.card .content{
    width: 60%;
    height: 100%;
    grid-template-rows: 50px 150px 50px;
    padding: 10px 15px;
}
.card .content .title h3{
    color: #111f4d;
    font-size: 24px;
    justify-content: center;
    padding: 8px;
}
.card .content .title span{
    color: #ef7e56;
    font-size: 20px;
    padding: 8px;
}
.card .content .text p{
    color: rgb(0, 0, 0, 0.6);
    font-size: 12px;
    padding: 8px;
}
.card .links{
    position: absolute;
    width: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: left;
}
.card .links a{
    font-size: 16px;
    color: #646059;
}
.card .links a:nth-child(1):hover{
    color: #0e76a8;
}
.card .links a:nth-child(2):hover{
    color:#171515;
}
.card .links a:nth-child(3):hover{
    color:#00acee;
}
.card .links a:nth-child(4):hover{
    color:#3b5998;
}

