/* Estilo para el encabezado */
header {
    background-color: #fff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Mostrar los componentes en línea */
    justify-content: space-between; /* Espaciado uniforme entre columnas */
    width:950px;
}

/* Estilo para las columnas A y B */
.columna-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.columna-b{
    display: flex;
    justify-content: space-around;
}

.columna-a p {
    width: 300px;
}

.vector-y-texto p{
    color: #333;

}
.columna-a, .columna-b {
    flex: 1; /* Distribución uniforme del espacio disponible */
    padding: 10px; /* Espaciado interno */
}

/* Estilo para los hipervínculos */
.hipervinculos ul {
    color: #333; /* Color del texto de los hipervínculos */
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 12px;
}

/* Estilo para el logotipo de la empresa */
.empresa {
    /* Agrega estilos para el logotipo de la empresa aquí */
}

/* Estilo para el cuadro de búsqueda (searchBox) */
.searchbox {
    /* Agrega estilos para el cuadro de búsqueda aquí */
}

/* Estilo para la barra social de Logis y el carrito de compras */
.logis-social-bar, .shopping-cart {
    /* Agrega estilos para la barra social y el carrito de compras aquí */
}

/* Estilo para el menú de navegación */
nav {
    /* Agrega estilos para el menú de navegación aquí */
}
