body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header img{
    width: 90px;
    height: auto;
    margin: 0px;
    top:0px;
}
.header{
width: 100%;
background-color: #FFFFFF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: black;
display: flex;
}
.nav-bar{
    display: flex;
    width: 100%;
}
.list{
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:0px 10px;
    padding: 0px;
    align-content: center;
}
a{
    text-decoration: none;
}